/*Responsiveness of the screen to different sizes. */
@media only screen and (min-width: 300px) and (max-width: 767px){
  body{
    background-color: white;
    margin-left: 40px;
    margin-right: 10px;
  }

/*@media only screen and (min-width: 768px) and (max-width: 1023px){
  body{background-color: orange;}
}*/

/*@media screen and (min-width: 720px){
  body{background-color: red;}
}*/


/*body{
  margin-left: 40px;
  margin-right: 10px;
}*/

#sec1{
  background-color: aliceblue;
  height: 400px;
  width: 520px;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 10px 10px 10px 10px;
}

.hhud, .two{
  font-weight: bold;
}
.hd{
  margin-top: 10px;
  /*border-radius: 5px 5px 5px 5px;*/
}
#hde{
  display: flex;
  justify-content: space-between;
  background-color: aliceblue; /*aliceblue*/
}

#mn1{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: aliceblue;
}

#dv2{
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  margin-bottom: 40px;
  margin-top: 20px;
  border-radius: 10px 10px 10px 10px;
}


#dv3{
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  margin-bottom: 30px;
  border-radius: 10px 10px 10px 10px;
}


#dv4{
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  border-radius: 10px 10px 10px 10px;
}

#dv5{
  background-color: aliceblue;
  display: block;
  justify-content: center;
  padding-right: 20px;
  padding-left: 30px;
  padding-bottom: 60px;
  height: 40px;
  width: 250px;
  margin-left: 110px;
  margin-bottom: 0px;
  margin-top: 00px;
  padding-top: 00px;
  border-radius: 10px 10px 10px 10px;
  border: 6px solid aliceblue;
}

.pbt{
  text-align: center;
  font-weight: bold;
}

#dv6{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  border-radius: 10px 10px 10px 10px;
}

.hdone, .parone, .btn, .one, .img, .two{
  margin-left: 10px;
  margin-right: 20px;
}

img{
  width: 300px;
  height: 200px;
  margin-right: 10px;
  border-radius: 10px 10px 10px 10px;
}

.parone{
  font-size: 12px;
  line-height: 20px;
}

.imgn, .imgp{
  width: 20px;
  height: 20px;
}
button{
  border-radius: 8px 8px 8px 8px;
}
.butu1{
  width: 90px;
  font-weight: bold;
  background-color: white;
}

.btn{
  background-color: fuchsia;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 20px 20px 20px 20px;
}

#sec2{
  background-color: aliceblue;
  height: 350px;
  width: 520px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 10px 10px 10px 10px;
}

.imgnh, .imgr{
  margin-top: 30px;
}

.onne, .flon, .youo{
  font-size: 20px;
  margin-top: 30px;
}

#sec3{
  background-color: aliceblue;
  height: 400px;
  width: 520px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 10px 10px 10px 10px;
}

.imgt{
  margin-top: 30px;
  margin-left: 20px;
}

#sec4{
  background-color: aliceblue;
  height: 400px;
  width: 520px;
  margin-bottom: 00px;
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 10px 10px 10px 10px;
}


#sec5{
  background-color:black;
  height: 200px;
  width: 520px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 00px;
/*  border-radius: 10px 10px 10px 10px;*/
  padding-top: 00px;
}

/*.onesec6, .twosec6, .threesec6, .foursec6{
  margin-top: 20px;
}*/

.onesec6, .twosec6, .threesec6{
  display: block;
  margin-top: 2px;
  font-size: 10px;
  margin-left: 5px;
  padding-right: 20px;
}

.foursec6{
  display: flex;
}

.gb{
  margin-top: 40px;
}

.onesec6a, .onesec6b, .onesec6c, .onesec6d{
  margin-left: 20px;
  font-size: 10px;
  text-align: justify;
}

#nw{
  background-color: black;
  width: 520px;
}

.nw2{
  background-color: aliceblue;
  height: 40px;
  padding-bottom: 20px;
}

.bt{
  background-color: fuchsia;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 20px 20px 20px 20px;
}

.onesec6b{
  display: flex;
}

.had{
  font-size: 20px;
}
.onesec6a{
  margin-bottom: 10px;
}

.twosec6a, .twosec6b, .twosec6c, .threesec6a, .threesec6b, .threesec6c{
  margin-bottom: 5px;
  padding-left: 2px;
  padding-right: 6px;
}

.imgp, #mg, #mg2, #mg3{
  width: 20px;
  height: 20px;
}
.onesec6b{
  padding-right: 15px;
}

